One-Stop-Shop--Snowflake-Masterclass-Resources/*
Snowflake-Training-Presentation-v1.pdf
snowflaketester_credentials.csv
SF-LU-Python-Series/.env
Badge-3-Collaboration-Marketplace-CostEstimation-Workshop/ACME-Account-details.txt
Badg3-4-Data-Lake-Workshop/notes/zenas-web-catalog/.env